// Türkis hell:         #66CCCC
// Türkis dunkel:       #00E9A2

// Violet hell:         #D36099
// Violet dunkel:       #633188

// Hintergrund schwarz: #633188
// Hintergrund violet:  #19003D

// Schrift hell:        #E6E6E6
// Schrift dunkel:      #1A1A1A
// Schrift türkis:      #00A99D
// Schrift violet:      #93278F

// Kontur Legs:         #633188
// Fill legs:           #CCCCCC


@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

BG_GRAD_1 = #633188
BG_GRAD_2 = #19003D

BTN_GRAD_1 = #00E9A2
BTN_GRAD_2 = #66CCCC

AVG_GRAD_1 = #D36099
AVG_GRAD_2 = #633188

TEXT_DARK = #1A1A1A

WHITE = #CCC

bg = linear-gradient(BG_GRAD_1, BG_GRAD_2)
btn-bg = linear-gradient(BTN_GRAD_1, BTN_GRAD_2)


.fas
  margin-left 3px
  margin-right 3px
